/* Set all category cards to have the same minimum height */
.category-card {
  display: flex;
  flex-direction: column;
  height: 100%; /* Fill available height */
  min-height: 600px;
  background-color: var(--primary-light);
  color: var(--text-color-dark);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.category-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--primary-dark);
}

.card-text {
  font-size: 1rem;
  color: var(--text-color-dark);
}

/* Button styling */
.btn-primary {
  background-color: var(--primary-main);
  border-color: var(--primary-dark);
  width: 100%;
  font-size: 1rem;
  padding: 10px;
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: var(--primary-dark);
  border-color: var(--primary-dark);
}

.card-img-top {
  height: 350px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.row {
  display: flex;
  align-items: stretch;
}

/* SweetAlert2 Custom Styles */
.custom-swal-popup {
  font-family: "Arial", sans-serif;
  max-width: 600px;
}

.custom-swal-popup p {
  margin: 0;
  text-align: justify; /* Align text to justify */
  color: #333; /* Dark text color for better readability */
  line-height: 1.6;
}

.custom-swal-actions {
  display: flex;
  justify-content: space-between; /* Space out buttons */
  gap: 10px; /* Add space between buttons */
}

.swal2-confirm {
  background-color: var(--primary-main);
  border-color: var(--primary-dark);
  color: white;
}

.swal2-cancel {
  background-color: var(--primary-light);
  border-color: var(--primary-dark);
  color: var(--text-color-dark);
}

.swal2-confirm:hover,
.swal2-cancel:hover {
  opacity: 0.9;
}

@media (max-width: 767px) {
  /* Mobile view adjustments */
  .row {
    flex-direction: column;
    gap: 10px;
  }

  .category-card {
    margin-bottom: 15px;
    min-height: auto;
  }

  .custom-swal-popup {
    font-size: 14px; /* Smaller font for very small devices */
    width: 90% !important; /* Ensure the popup fits within smaller screens */
    max-width: 400px; /* Limit the max width */
  }

  .custom-swal-actions .swal2-actions button {
    width: 100%; /* Stack buttons vertically */
    margin: 5px 0; /* Add spacing between buttons */
  }

  /* Add spacing between buttons */
  .custom-swal-actions .swal2-actions button {
    margin: 0 5px;
  }
}
