/* Color Palette */
:root {
  /* Primary Colors */
  --primary-light: #fbdbfb;
  --primary-main: #ed12d1;
  --primary-dark: #d41c28;

  /* Secondary Colors */
  --secondary-light: #faacf6;
  --secondary-main: #a54d82;
  --secondary-background: #faf4fc;

  /* Text and Background Colors */
  --text-color-dark: #333333;
  --text-color-light: #ffffff;

  /* Neutral Background */
  --neutral-background: #faf4fc;
}

/* General Layout Styling */
body,
html {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: var(--neutral-background);
  color: var(--text-color-dark);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

/* Links */
a {
  color: var(--primary-main);
  text-decoration: none;
}

a:hover {
  color: var(--primary-dark);
}

/* Button Styling */
button {
  background-color: var(--primary-main);
  color: var(--text-color-light);
  border: none;
  padding: 0.6em 1.2em;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--primary-dark);
}

/* Specific Component Styling */
.card {
  padding: 2em;
  background-color: var(--secondary-light);
  border-radius: 8px;
}

.read-the-docs {
  color: #888;
}

/* Mobile Navbar Styling */
@media (max-width: 576px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--primary-light);
    z-index: 1050;
    padding: 1rem;
  }
}
